@import"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap";

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.container {
    max-width: 1240px;
    margin: auto;
    padding: 10px;
    margin-top: 150px;
}
.video-container {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.controls {
    position: absolute;
    bottom: 10px;
    display: flex;
    gap: 10px;
    width: 98%;
    justify-content: space-between;
    z-index: 5;
    left: 50%;
    transform: translate(-50%);
}
.controls > * {
    user-select: none;
}
.sides {
    display: flex;
    gap: 10px;
    align-items: center;
}
.media-button {
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.time-line {
    position: absolute;
    width: 100%;
    bottom:  30px;
    left: 50%;
    transform: translate(-50%);
    z-index: 5;
    margin: 0;
}
.media-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(#0000,#000000bf);
}
video {
    display: block;
}
#current-time {
    color: white;
}
.time-line input::-webkit-slider-thumb {
    -webkit-appearance: none;
}
p {
    font-size: small;
}
#progress-bar{
    height: 5px;
    opacity: 0;
    z-index: 999999;
    cursor: pointer;
}


.progress-full + .progress-loaded::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00b2ff;
    position: absolute;
    right: -3px;
    top: -3px;
    transform: scale(0); 
    transition: transform 0.3s ease; 
}

.progress-full:hover + .progress-loaded::after {
    transform: scale(1); 
}

#volume:hover + .progress-volume-preview > .progress-volume-loaded::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00b2ff;
    position: absolute;
    right: -3px;
    top: -3px;
    transform: scale(0); 
    transition: transform 03s ease; 
}

#volume:hover + .progress-volume-preview > .progress-volume-loaded::after {
    transform: scale(1); 
}

    
.progress-loaded {
    position: absolute;
    width: 0%;
    bottom:  30px;
    height: 3px;
    background-color: #00b2ff;
    z-index: 10;

}

.progress-preview{
    position: absolute;
    width: 100%;
    bottom:  30px;
    height: 3px;
    background-color: #c4c4c46b;
}
.progress-full{
    position: absolute;
    width: 100%;
    bottom: 25px;
    height: 20px;
    z-index: 999999;
    cursor: pointer;
}
.progress {
    width: 98%;
    margin: auto;
    position: absolute;
    bottom: 0;
}

#volume {
    z-index: 999;
    opacity: 0;
    cursor: pointer;
    margin-left: 15px;
}

.volume-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
@media only screen and (max-width: 600px) {
    .progress-volume-preview {
        display: none;
    }
    #volume {
        display: none;
    }
}
#play {
    width: 15px;
    height: 20px;
}


#mute-button {
    width: 10px;
    height: 20px;
}
.progress-volume-preview {
    position: absolute;
    width: 115px;
    height: 3px;
    background-color: #c4c4c46b;
    left: 69px;
    cursor: pointer;
}

.progress-volume-loaded {
    width: 100%;
    height: 3px;
    background-color: #00b2ff;
    position: relative;
}

.lds-dual-ring {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99999;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #00b2ff;
  border-color: #00b2ff transparent #00b2ff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
    display: none;
}
.skeleton-active{
    position: relative;
    width: 100%;
    padding-top: calc(9/16*100%);
    background-color: #c4c4c46b;
}
.video-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99999;
    font-size: 50px;
    color: white;
    padding: 7px 10px 8px 16px;
    border-radius: 100%;
    background-color: #c4c4c46b;
    
}
.settings-box {
    width: 100px;
    position: absolute;
    background-color: #ffffffe6;
    bottom: 38px;
    right: 0;
    border-radius: 4px;
    padding: 5px;
}
.settings-header {
    color: #000000bf;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 1px solid #c4c4c46b;
}
.settings-items {
    padding: 5px 0 5px 0;
    display: grid;
    gap: 10px;
    text-align: center;
}
.settings-item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    flex-direction: flex-end;
}
.settings-item:hover {
    background-color: #c4c4c46b;
}

#settings{
    transition: transform 0.5s ease; 
}

.rotated {
    transform: rotate(45deg); 
}
.settings-item {
    position: relative;
}
.size-active::after {
    content: '';
    position: absolute;
    right: 10px;
    display: block;
    border-radius: 100%;
    border: 4px solid #00b2ff;
    width: 16px;
    height: 16px;
}